/* Cores */
$red-100: rgb(241, 5, 5);
$red-87: rgba(241, 5, 5, 87%);
$red-03: rgba(241, 5, 5, 3%);

$red-bold-100: rgb(138, 3, 4);

$orange-100: rgb(241, 158, 4);
$orange-bold-100: rgb(241, 116, 5);

$white-100: rgb(255, 255, 255);
$white-87: rgba(255, 255, 255, 87%);

$white-bold-100: rgb(242, 245, 247);

$black-100: rgb(13, 13, 13);
$black-87: rgba(13, 13, 13, 87%);
$black-65: rgba(13, 13, 13, 65%);
$black-30: rgba(13, 13, 13, 30%);


/* tipografia site */
$body-font-inter: 'Inter', sans-serif;
$body-font-montserrat: 'Montserrat', sans-serif;


